{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body {
	  padding-top: 80px;
      }
    </style>
  </head>

  <body class="d-flex flex-column min-vh-100">

    <nav class="navbar fixed-top navbar-light bg-light border-bottom border-2">
      <div class="container">
	<a class="navbar-brand me-3" href="{% url 'index' %}">Forum</a>
	<form class="me-1 flex-fill" role="search">
	  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
	</form>
	<a href="" class="btn btn-success me-3" role="button">Search</a>
	{% if request.user.is_authenticated %}
	<span class="badge d-flex align-items-center p-1 pe-2 border border-primary rounded-pill me-3">
	  <img class="rounded-circle me-1" width="24" height="24" src="{{ request.user.profile.avatar.url }}" alt="avatar">
	  <a href="{% url 'settings' %}">{{ request.user.username }}</a>
	</span>
	<a href="{% url 'logout' %}" class="btn btn-light btn-outline-primary me-3" role="button">Log out</a>
	{% else %}
	<a href="{% url 'login' %}" class="btn btn-light btn-outline-primary me-1" role="button">Log in</a>
	<a href="{% url 'signup' %}" class="btn btn-primary me-3" role="button">Sign up</a>
	{% endif %}
      </div>
    </nav>

    <main role="main">
      <div class="container">
	<div class="row">

	  <div class="col border-end me-5 mb-3 pe-0">
	    <nav class="nav flex-column sticky-top" style="top: 80px">
	      <a class="nav-link link-dark bg-primary bg-opacity-10 border border-primary border-end-0 rounded-start mb-1" href="{% url 'index' %}">
		Newest
	      </a>
	      <a class="nav-link link-dark bg-primary bg-opacity-10 border border-primary border-end-0 rounded-start mb-1" href="{% url 'hot' %}">
		Hot
	      </a>
	    </nav>
	  </div>

	  <div class="col-8 me-5">
	    {% block headers %}
	    {% endblock %}
	    {% block content %}
	    {% endblock %}
	  </div>

	  <div class="col-md-2">

	    <div class="row mb-3 sticky-top" style="top: 80px">
	      <h3>Popular tags</h3>
	      <ol class="list-group list-group-numbered">
		{% for tag in popular_tags %}
		<li class="list-group-item"><a class="link-primary" href="{% url 'tag' tag.name %}">{{ tag.name }}</a></li>
		{% endfor %}
	      </ol>
	    </div>
	    
	    <div class="row sticky-top" style="top: 380px">
	      <h3>Best Members</h3>
	      <ol class="list-group list-group-numbered">
		{% for user in popular_users %}
		<li class="list-group-item"><a class="link-primary" href="">{{ user.user.username }}</a></li>
		{% endfor %}
	      </ol>
	    </div>
	  </div>
	</div>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
      <div class="container">
	<span class="text-muted">© 2023 ForumCompany, Inc</span>
      </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
