{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
Question
{% endblock %}

{% block headers %}
<h1 class="mb-5">{{ question.title }}</h1>
{% endblock %}

{% block content %}

{% include 'components/question-item.html' %}

<div class="border-bottom border-top border-3 border-primary p-3 mt-5">
  {% for answer in page %}
  {% include 'components/answer-item.html' %}
  {% endfor %}
</div>

<form method="post" class="mt-5 mb-3">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_button button_type='submit' content='Answer!' %}
</form>

{% include 'components/paginator.html' %}

{% endblock %}
