{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Tag
{% endblock %}

{% block headers %}
<h1>Tag: {{tag}}</h1>
{% endblock %}

{% block content %}

{% for question in questions %}
{% include 'components/question-item.html' %}
{% endfor %}

<ul class="pagination mt-3">
  <li class="page-item">
    <a class="page-link" href="#" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item">
    <a class="page-link" href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
{% endblock %}
